@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
body {
background-color: black;
}
.container {
   width: 1400px;
   height: 100%;
   margin: 0 auto;
   display: flex;
   text-align: center;
   justify-content: center;
   background-color: white;
}
.header .content{
   width: 1400px;
}
.header-text-h2 {
margin-top: 100px;
text-align: center;
text-transform: uppercase;
font-family: Raleway;
font-style: normal;
font-weight:lighter;
font-size: 36px;
line-height: 42px;
color: #212121;
}
.logo{
border-bottom: 1px solid #E72424;
width: 64px;
 margin: 25px auto 0;
}
.header-text-p{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #86878B;
margin: 30px auto 67px;
}   /*все ок*/
.banner{
     text-align: center;

}

.banner-container1{
  
   top: 100px;
   margin-right: 25px;
   width:350px;
   height: 225px;
}
#text-h3{
   margin-top: 21px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 27px;
   text-align: center;
}
#text-p{
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
.banner-container1-img{
    width: 70px;
    height: 70px;
  margin-left: 140px;
    border-radius: 50% ;
  border: 1px solid;
      color: #E72424;
       background-image: url("../image/im1.png");
       background-repeat: no-repeat;
       background-position: center;
}
.banner-container2-img {
width: 70px;
height: 70px;
margin-left: 140px;
border-radius: 50%;
border: 1px solid;
color: #E72424;
background-image: url("../image/im2.png");
background-repeat: no-repeat;
background-position: center;
}
.banner-container3-img {
width: 70px;
height: 70px;
margin-left: 140px;
border-radius: 50%;
border: 1px solid;
color: #E72424;
background-image: url("../image/im3.png");
background-repeat: no-repeat;
background-position: center;
}
.banner-container2 {
width:350px;
height: 225px;
margin-right: 25px;
}
.banner-container3 {
margin-right: 143px;
width:350px;
height: 225px;
margin-right: 25px;
}
.main-container{
width: 100%;
height: 326px;
background-color:rgba(0,0,0,.5);
background-image: url("../image/footer.png");
margin-top: 108px;
text-align: center;
}
.fon-image{
   background-color:rgba(0,0,0,.5);
   height: 100%;
}
.main-container-h2{
color: white;
padding-top: 76px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
}
.logo1 {
border-bottom: 1px solid white;
width: 64px;
margin: 25px auto 0;
margin-top: 48px; 
}
.main-content-p{
font-family: Raleway;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: white;
opacity: 0.6;
text-align: center;
margin-top: 30px;
}
#button{
margin-top: 30px;
}
.button{
text-decoration: none;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
padding: 11px 26px 11px 26px;
border: 1px solid #FFFFFF;
}
.footer{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: rgba(255, 255, 255, 0.5);
margin-bottom: 0px;
}
.content-footer{
   background-color: black;
   width: 100%;
}
.image-footer>a{
   color: grey;
   margin-inline: 10px;

}


.footer-text{
margin-top: 18px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: rgba(255, 255, 255, 0.5);
}